/*-------------------------LINKS------------------------------*/
a:link{
  color:#323634;
  font-style: normal;
  text-decoration: none;
}
a:visited{
  color:#323634;
  font-style: normal;
  text-decoration: none;
  top: 50%;
  position: relative;
}
/*------------------------------------------------------------*/
img{
  object-fit: cover;
  width: 100%;
  height: auto;
}
/*------------------------------------------------------------*/
body{
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('Home Background 2.jpg');
    background-size: cover;
    /*background-image: linear-gradient(to bottom,#a8dff0 0%,#caf0ad 100%); #a7ebc7 33.333%, #caf0ad 66.66667%,#b1f0aa 100%);*/
}
body::-webkit-scrollbar {
    height: 10px;
}
body::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);*/
    background-color: slategrey;
}
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 10px;
}
#wrapper{
      width:100%;
      margin-left: -50%;
      left: 50%;
      margin: 0 auto;
 }
/*------------------------------------------------------------*/
#HomePage{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  /*background-image: linear-gradient(to bottom,#a8dff0 0%, #a7ebc7 100%);
  background-image: url('Home Background 2.jpg');
  background-size: cover;*/
}
#AboutPage{
  position: absolute;
  width: 90%;
  height: 90%;
  top: 100%;
  left: 5%;
  /*background-image: linear-gradient(to bottom,#a8dff0 0%, #a7ebc7 100%);*/
  background-color:#d5deed;
  background-size: cover;
  border: 1px black solid;
  border-radius: 3% / 5.33%;
}
#ExperiencePage{
  position: absolute;
  width: 90%;
  height: 90%;
  top: 200%;
  left: 5%;
  /*background-image: linear-gradient(to bottom,#a8dff0 0%, #a7ebc7 100%);*/
  background-color: #e4edd5;
  border: 1px black solid;
  border-radius: 3% / 5.33%;
}
#ProjectPage{
  position: absolute;
  width: 90%;
  height: 90%;
  top: 300%;
  left: 5%;
  background-color: #e9f5f1;
  border: 1px black solid;
  border-radius: 3% / 5.33%;
}
#ContactPage{
  position: absolute;
  width: 90%;
  height: 70%;
  top: 400%;
  left: 5%;
  background-color: #faf6cd;
  border: 1px black solid;
  border-radius: 3% / 5.33%;
}
/*------------------------------------------------------------*/
#Name{
  position: absolute;
  left: 50%;
  top: 35%;
  width: 75%;
  height: 10%;
  margin-left:-37.5%;
  font:9vh Raleway;
  color: #3d3d29;
  font-family: 'Raleway';
  font-weight: bolder;
  text-align: center;
}
#QuickIntro{
  position: absolute;
  left: 50%;
  top: 45%;
  width: 75%;
  height: 10%;
  margin-left:-37.5%;
  font:4vh Raleway;
  color: #5c5c3d;
  font-family: 'Raleway';
  font-weight: bold;
  opacity: 0.7;
  text-align: center;
}

#PictureOfMe{
  position: absolute;
  left: 80%;
  top: 15%;
  width: 20%;
  padding-top: 20%;
  height: auto;
  margin-left:-10%;
  border-radius: 50%;
  overflow: hidden;
  border: #5c5c3d 3px solid;
  background-image:url('PictureOfMe.png');
  background-size: cover;
}
#AboutTitle{
  position: absolute;
  left: 50%;
  top: 5%;
  width: 25%;
  height: 5%;
  margin-left: -12.5%;
  font:4vh Raleway;
  color: #5c5c3d;
  font-family: 'Raleway';
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}
#AboutMe{
  position: absolute;
  left: 5%;
  top: 10%;
  width: 60%;
  height: 55%;
  font:2.75vh Raleway;
  color: #5c5c3d;
  font-family: 'Raleway';
  border-radius: 5% / 5.5%;
  padding: 1%
}
#Bio{
  position: absolute;
  left: 9%;
  top: 65%;
  width: 34%;
  /*margin-left: -12%;*/
  height: 22%;
  font:2vh Raleway;
  color: #5c5c3d;
  font-family: 'Raleway';
}
#Skills{
  position: absolute;
  right: 8%;
  top: 65%;
  width: 40%;
  /*margin-left: -17%;*/
  height: 22%;
  font:2vh Raleway;
  color: #5c5c3d;
  font-family: 'Raleway';
}
caption{
  font:200% Raleway;
  font-weight: bold;
}
th, td {
  padding-top: -1vh;
  padding-right: 1vh;
  text-align: left;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
}
td:first-child{
  text-align: right;
}
td:nth-child(2){
  font-weight: bold;
  font:3vh Raleway;
}
table{
  border-collapse: collapse;
}

#ExperienceTitle{
  position: absolute;
  left: 50%;
  top: 5%;
  width: 25%;
  height: 5%;
  margin-left: -12.5%;
  font:4vh Raleway;
  color: #5c5c3d;
  font-family: 'Raleway';
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}
#ExperienceDescription{
  position: absolute;
  top:15%;
  left:50%;
  width: 80%;
  height: 40%;
  margin-left: -40%;
  z-index: 1;
  font:3vh Raleway;
  color: #5c5c3d;
}

#ExperienceOne{
  position: absolute;
  top: 65%;
  left: 20%;
  width: 10%;
  margin-left: -5%;
  margin-top:-5%;
  padding-top: 10%;
  background-image:url('Experience One.png');
  background-size:cover;
}
#ExperienceTwo{
  position: absolute;
  top: 65%;
  left: 35%;
  width: 10%;
  margin-left: -5%;
  margin-top:-5%;
  padding-top: 10%;
  background-image:url('Experience Two.png');
  background-size:cover;
}
#ExperienceThree{
  position: absolute;
  top: 65%;
  left: 50%;
  width: 10%;
  margin-left: -5%;
  margin-top:-5%;
  padding-top: 10%;
  background-image:url('Experience Three.png');
  background-size:cover;
}
#ExperienceFour{
  position: absolute;
  top: 65%;
  left: 65%;
  width: 10%;
  margin-left: -5%;
  margin-top:-5%;
  padding-top: 10%;
  background-image:url('Experience Four.png');
  background-size:cover;
}
#ExperienceFive{
  position: absolute;
  top: 65%;
  left: 80%;
  width: 10%;
  margin-left: -5%;
  margin-top:-5%;
  padding-top: 10%;
  background-image:url('Experience Five.png');
  background-size:cover;
}

#ExperienceOneDisplay{
  position: absolute;
  top: 88%;
  left: 20%;
  width: 10%;
  margin-left: -5%;
  margin-top:-5%;
  font:3vh Raleway;
  color: #5c5c3d;
  text-align: center;
}
#ExperienceTwoDisplay{
  position: absolute;
  top: 88%;
  left: 35%;
  width: 10%;
  margin-left: -5%;
  margin-top:-5%;
  font:3vh Raleway;
  color: #5c5c3d;
  text-align: center;
}
#ExperienceThreeDisplay{
  position: absolute;
  top: 88%;
  left: 50%;
  width: 10%;
  margin-left: -5%;
  margin-top:-5%;
  font:3vh Raleway;
  color: #5c5c3d;
  text-align: center;
}
#ExperienceFourDisplay{
  position: absolute;
  top: 88%;
  left: 65%;
  width: 10%;
  margin-left: -5%;
  margin-top:-5%;
  font:3vh Raleway;
  color: #5c5c3d;
  text-align: center;
}
#ExperienceFiveDisplay{
  position: absolute;
  top: 88%;
  left: 80%;
  width: 10%;
  margin-left: -5%;
  margin-top:-5%;
  font:3vh Raleway;
  color: #5c5c3d;
  text-align: center;
}

#ProjectTitle{
  position: absolute;
  left: 50%;
  top: 5%;
  width: 25%;
  height: 5%;
  margin-left: -12.5%;
  font:4vh Raleway;
  color: #5c5c3d;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}
#ProjectOne{
  position: absolute;
  top: 25%;
  left: 19%;
  width: 11%;
  margin-left: -5%;
  margin-top:-5%;
  padding-top: 11%;
  border-radius: 2%;
  background-image:url('Project One.png');
  background-size: cover;
  border: black 2px solid;
}
#ProjectTwo{
  position: absolute;
  top: 25%;
  left: 62%;
  width: 11%;
  margin-left: -5%;
  margin-top:-5%;
  padding-top: 11%;
  border-radius: 2%;
  background-image:url('Project Two.png');
  background-size: cover;
  border: black 2px solid;
}
#ProjectThree{
  position: absolute;
  top: 50%;
  left: 19%;
  width: 11%;
  margin-left: -5%;
  margin-top:-5%;
  padding-top: 11%;
  border-radius: 2%;
  background-image:url('Project Three.png');
  background-size: cover;
  border: black 2px solid;
}
#ProjectFour{
  position: absolute;
  top: 50%;
  left: 62%;
  width: 11%;
  margin-left: -5%;
  margin-top:-5%;
  padding-top: 11%;
  border-radius: 2%;
  background-image:url('Project Four.png');
  background-size: cover;
  border: black 2px solid;
}
#ProjectFive{
  position: absolute;
  top: 75%;
  left: 19%;
  width: 11%;
  margin-left: -5%;
  margin-top:-5%;
  padding-top: 11%;
  border-radius: 2%;
  background-image:url('Project Five.png');
  background-size: cover;
  border: black 2px solid;
}
#ProjectSix{
  position: absolute;
  top: 75%;
  left: 62%;
  width: 31%;
  margin-left: -5%;
  margin-top:-5%;
  padding-top: 11%;
  border-radius: 2%;
  background-image:url('Project Six.png');
  background-size: cover;
  border: black 2px solid;
}

#ProjectOneDescription{
  position: absolute;
  top: 25%;
  left: 32%;
  width: 20%;
  margin-left: -5%;
  margin-top:-5%;
  padding-bottom: 12%;
  border-radius: 2%;
  background-size: cover;
  font:3vh Raleway;
  color: #5c5c3d;
}
#ProjectTwoDescription{
  position: absolute;
  top: 25%;
  left: 75%;
  width: 20%;
  margin-left: -5%;
  margin-top:-5%;
  padding-bottom: 12%;
  border-radius: 2%;
  background-size: cover;
  font:3vh Raleway;
  color: #5c5c3d;
}
#ProjectThreeDescription{
  position: absolute;
  top: 50%;
  left: 32%;
  width: 20%;
  margin-left: -5%;
  margin-top:-5%;
  padding-bottom: 12%;
  border-radius: 2%;
  background-size: cover;
  font:3vh Raleway;
  color: #5c5c3d;
}
#ProjectFourDescription{
  position: absolute;
  top: 50%;
  left: 75%;
  width: 20%;
  margin-left: -5%;
  margin-top:-5%;
  padding-bottom: 12%;
  border-radius: 2%;
  background-size: cover;
  font:3vh Raleway;
  color: #5c5c3d;
}
#ProjectFiveDescription{
  position: absolute;
  top: 75%;
  left: 32%;
  width: 20%;
  margin-left: -5%;
  margin-top:-5%;
  padding-bottom: 12%;
  border-radius: 2%;
  background-size: cover;
  font:3vh Raleway;
  color: #5c5c3d;
}

#ContactTitle{
  position: absolute;
  left: 50%;
  top: 5%;
  width: 25%;
  height: 5%;
  margin-left: -12.5%;
  font:4vh Raleway;
  color: #5c5c3d;
  font-family: 'Raleway';
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}
#ConnectResume{
  position: absolute;
  left: 75%;
  top: 50%;
  width: 25%;
  height: auto;
  padding-top: 11%;
  padding-bottom: 11%;
  margin-left: -12.5%;
  margin-top: -12.35%;
  /*background-image: url('Resume.PNG');*/
  background: rgb(204, 204, 204);
  background-size: cover;
  border: #5c5c3d 2px solid;
  border-radius: 9%;
  font:4vh Raleway;
  color: #5c5c3d;
  font-weight: bolder;
  text-align: center;
  /*text-indent: 25em;*/
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition: opacity: 0.1 ease-in-out;
  -ms-transition: opacity: 0.1 ease-in-out;
  transition: opacity: 0.1 ease-in-out;
  z-index: 2;
}/*
#ConnectResume:hover{
  background: rgb(204, 204, 204);
  -webkit-transition: Back: 0.1 ease-in-out;
  -ms-transition: opacity: 0.1 ease-in-out;
  transition: opacity: 0.1 ease-in-out;
  text-indent:0%;
}
#ResumeCover{
  position: absolute;
  left: 75%;
  top: 50%;
  width: 25%;
  height: auto;
  padding-top: 11%;
  padding-bottom: 11%;
  margin-top: -12.35%;
  margin-left: -12.5%;
  background-color: darkgrey;
  font-family: 'Raleway';
  font-weight: bolder;
  border: #5c5c3d 2px solid;
  border-radius: 9%;
  z-index: 1;
  -webkit-transition: opacity: 1 ease-in-out;
  -ms-transition: opacity: 1 ease-in-out;
  transition: opacity: 1 ease-in-out;
}*/
#ContactEmailTitle{
  position: absolute;
  top:30%;
  left:32%;
  width: 50%;
  height: 5%;
  margin-top: -2.5%;
  margin-left: -25%;
  border: black 2px solid;
  border-radius: 5% / 50%;
  font:2.5vh Raleway;
  color: #5c5c3d;
  font-family: 'Raleway';
  padding: 1%;
}
#ContactEmail{
  position: absolute;
  top:30%;
  left:22%;
  width: 40%;
  height: 5%;
  margin-top: -2.5%;
  margin-left: -7.5%;
  background-size: cover;
  border-top: black 2px solid;
  border-left: black 2px solid;
  border-bottom: black 2px solid;
  font:3.5vh Raleway;
  color: black;
  font-family: 'Raleway';
  padding: 1%;
  text-align: center;
  font-weight: bolder;
}
#ContactPhoneTitle{
  position: absolute;
  top:50%;
  left:32%;
  width: 50%;
  height: 5%;
  margin-top: -2.5%;
  margin-left: -25%;
  border: black 2px solid;
  border-radius: 5% / 50%;
  font:2.5vh Raleway;
  color: #5c5c3d;
  font-family: 'Raleway';
  padding: 1%;
}
#ContactPhone{
  position: absolute;
  top:50%;
  left:22%;
  width: 40%;
  height: 5%;
  margin-top: -2.5%;
  margin-left: -7.5%;
  background-size: cover;
  border-top: black 2px solid;
  border-left: black 2px solid;
  border-bottom: black 2px solid;
  font:3.5vh Raleway;
  color: black;
  font-family: 'Raleway';
  padding: 1%;
  text-align: center;
  font-weight: bolder;
}
#ContactLinkedInTitle{
  position: absolute;
  top:70%;
  left:32%;
  width: 50%;
  height: 5%;
  margin-top: -2.5%;
  margin-left: -25%;
  border: black 2px solid;
  border-radius: 5% / 50%;
  font:2.5vh Raleway;
  color: #5c5c3d;
  font-family: 'Raleway';
  padding: 1%;
}
#ContactLinkedIn{
  position: absolute;
  top:70%;
  left:22%;
  width: 40%;
  height: 5%;
  margin-top: -2.5%;
  margin-left: -7.5%;
  background-size: cover;
  border-top: black 2px solid;
  border-left: black 2px solid;
  border-bottom: black 2px solid;
  font:3.5vh Raleway;
  color: black;
  font-family: 'Raleway';
  padding: 1%;
  text-align: center;
  font-weight: bolder;
}

#BuiltByLine{
  position: absolute;
  top:478%;
  left:50%;
  Width: 80%;
  height: 1%;
  margin-top: -0.5%;
  margin-left: -40%;
  border-bottom: black solid 2px;
  opacity: 0.5;
}
#BuiltBy{
  position: absolute;
  top:480%;
  left:50%;
  height: 5%;
  Width: 60%;
  margin-left: -30%;
  color: black;
  font:2vh Verdana;
  font-weight: bold;
  font-family: 'Raleway';
  opacity: 0.9;
  text-align: center;
}
/*-------------------------MOBILE PAGE-------------------------------------------*/
#MobilePage{
  position: absolute;
  width: 100%;
  height: 120%;
  top: 0%;
  left: 0%;
  background-color: grey;
  opacity: 0;
  z-index: 1;
}
#MobileText{
  font:2.5vh Raleway;
  color: Red;
  font-family: 'Raleway';
  text-align: center;
  font-weight: bold;
  padding: 3%;
}
#MobileName{
  position: absolute;
  left: 50%;
  top: 15%;
  width: 80%;
  margin-left: -40%;
  font:3.5vh Raleway;
  color: white;
  font-family: 'Raleway';
  text-align: center;
  font-weight: bold;

}
#MobilePictureOfMe{
  position: absolute;
  left: 50%;
  top: 25%;
  width: 40%;
  padding-top: 40%;
  height: auto;
  margin-left:-20%;
  border-radius: 50%;
  overflow: hidden;
  border: #5c5c3d 2px solid;
  background-image:url('PictureOfMe.png');
  background-size: cover;
}
#MobileInfo{
  position: absolute;
  left: 50%;
  top: 40%;
  width: 80%;
  padding-top: 40%;
  height: auto;
  margin-left:-40%;
  font:3vh Raleway;
  color: White;
  font-family: 'Raleway';
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  #wrapper {
    display: none;
  }
  #MobilePage{
    opacity: 1;
  }
}
